{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": false,
        "corejs": 3,
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "transform-react-remove-prop-types",
      {
        "removeImport": true
      }
    ]
  ]
}
